.card-primary .card-header
{
    background: #007bff;
    color: white;

}

.task-text
{
    font-family: sans-serif;
}

.example
{
    padding-left: 15px;
    padding-bottom: 15px;
    
}

.example .card
{
    width: 10em;
    
}

.example .card .header
{
    background: black;
    color: white;
}

.example .card .card-body
{
    border: 1px solid black;
}

.embed-responsive textarea
{
    background: black;
    color: white;
    height: 300px;
    font-family: monospace;
    font-size: 15px;
}